node_modules
frontend
frontend.conf
hanayo.conf
team.json
static/profbackgrounds/*
!static/profbackgrounds/.keep
semantic/gulpfile.tmp.*.js
/_
static/oauth-apps/*
!static/oauth-apps/.keep
.DS_Store
.vs