.profile-game-mods-segment {
    height: 55px;
	background: #1B211F;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
    max-width: 1000px;
}
.profile-bg {
    background-image: linear-gradient(94.8deg, rgba(0, 0, 0, 0.2) 34.49%, rgba(0, 0, 0, 0) 93.17%), var(--bg);
    height: 229px;
    background-size: cover;
    background-position: center;
}
.profile-avatar {
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.05));
	border-radius: 21px;
	margin-top: -33px;
	margin-left: 27px;
	margin-right: 26px;
	/* should we change this? 256x256 images dont seem to scale very well to 140x140 */
	width: 140px;
	height: 140px;
}
.profile-user-segment {
	background: #2E3836;
	padding-inline: 25px;
	padding-bottom: 15px;
	display: flex;
	min-height: 122px;
}

.profile-main-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* flex: 1; */
}
.profile-main-details-container {
	display: flex;
	flex-direction: column;
}
.profile-username-container {
	display: flex;
	flex-direction: row;
}
.profile-username-text {
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	text-align: center;
	color: white;
	align-self: center;
}
.profile-country-container {
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: white;
}
.profile-country-flag {
	width: 37px;
	margin-right: 11px;
}