.profile-game-mods-segment {
	padding: 2em;
    height: 55px;
	background: #1B211F;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
    max-width: 1000px;
}
.profile-bg {
    background-image: linear-gradient(94.8deg, rgba(0, 0, 0, 0.2) 34.49%, rgba(0, 0, 0, 0) 93.17%), var(--bg);
    height: 229px;
    background-size: cover;
    background-position: center;
}
.profile-avatar {
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.05));
	border-radius: 21px;
	margin-top: -33px;
	margin-left: 27px;
	margin-right: 26px;
	/* should we change this? 256x256 images dont seem to scale very well to 140x140 */
	width: 140px;
	height: 140px;
}
.profile-user-segment {
	background: #2E3836;
	padding-inline: 25px;
	padding-bottom: 15px;
	display: flex;
	min-height: 122px;
}

.profile-main-info-container {
	display: flex;
	align-items: center;
	width: 100%;
}
.profile-main-details-container {
	display: flex;
	flex-direction: column;
}
.profile-username-container {
	display: flex;
	flex-direction: row;
}
.profile-username-text {
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	text-align: center;
	color: white;
	align-self: center;
	/* for badges */
	margin-right: 10px;
}
.profile-country-container {
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: white;
	margin-right: 15px;
}
.profile-clan-container {
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: white;
	margin-right: 15px;
}
.profile-country-flag {
	width: 37px;
	margin-right: 11px;
}
.profile-clan-flag {
	margin-right: 11px;
	font-size: 25px;
	color: white;
}
.profile-country-clan-container {
	display: flex;
	flex-direction: row;
}
.profile-badge {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color);
	margin-top: auto;
	margin-bottom: auto;
	background: #191D1B;
	border-radius: 12.5px;
	padding: 4px 11px;
	/* correcting for the text having a little blank space at the bottom so we arent off-center */
	padding-top: 6.5px;
	padding-bottom: 4.5px;
	/* margin for additional badges if we have any */
	margin-right: 3px;
}
.profile-donor-badge {
	color: white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	background: #f6a;
	border-radius: 12.5px;
	padding: 5.5px 5.5px;
	margin-right: 3px;
	/* corrections for off-centerness of icon */
	padding-top: 6px;
	padding-bottom: 5px;
}
.profile-verified-badge {
	/* same as page color */
	color: #2E3836;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	background: #18FFB1;
	border-radius: 12.5px;
	padding: 5.5px 5.5px;
	margin-right: 3px;
	/* corrections for off-centerness of icon */
	padding-top: 6px;
	padding-bottom: 5px;
}
.profile-pinned-medal-container {
	margin-left: auto;
	display: flex;
	flex-direction: column;
}
.profile-pinned-medal-text-container {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: white;
}
.profile-pinned-medal-icon {
	width: 28px;
	margin-left: 6px;
}
.profile-pinned-medal-medal-container {
	/* this is just for the todo for now */
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: white;
}
.profile-user-info-bar {
	background: #373E3C;
	display: flex;
	flex-direction: row;
	padding-inline: 4em;
	height: 55px;
	align-items: center;
	width: 100%;
}
.profile-user-info-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin-right: 6px;
	color: white;
}
.profile-user-info-text-bold {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-right: 26px;
	color: white;
}
.profile-user-info-playtime-container {
	display: flex;
	flex-direction: row;
	margin-left: auto
}
.profile-user-info-icon {
	font-size: 20px;
	color: white;
	margin-right: 10px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.profile-user-info-playtime-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: white;
}
.profile-game-mod-selector {
    margin-left: 26px;
    align-content: center;
    display: flex;
}

.profile-game-mode-selector-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-right: 25px;
    user-select: none;
}

.profile-active.item.game-mode-selector-item{
    font-weight: 700;
    color: rgba(255,255,255,.93) !important;
}
.profile-user-info-bar-lower {
	background: #2C3130;
	display: flex;
	flex-direction: row;
	padding-inline: 4em;
	height: 55px;
	align-items: center;
	width: 100%;
}
.profile-user-info-social-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	margin-right: 26px;
	color: white;
}
.profile-main-stats-container {
	background: #202524;
	display: flex;
	flex-direction: row;
	min-height: 304px;
	width: 100%;
	align-items: center;
	padding-inline: 48px;
}
.profile-stats-container {
	background: #2C3130;
	border-radius: 8px;
	display: flex;
	height: 263px;
	width: 261px;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 4px;
	padding: 18px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	/* padding so the space between the items looks less cursed,
	   change if you are adding new items. */
	padding-block: 32px;
}
.profile-stats-left-text {
	font-weight: 400;
	font-size: 15px;
	color: white;
}
.profile-stats-right-text {
	font-weight: 700;
	font-size: 15px;
	color: white;
	margin-left:auto;
}
.profile-stats-text-container{
	display: flex;
}
.profile-rank-stats-container {
	display: flex;
	width: 658px;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 4px;
	flex-direction: column;
}
.profile-rank-info-container{
	background: #373E3C;
	border-radius: 8px 8px 0px 0px;
	padding: 18px;
	display:flex;
	width: 100%;
	flex-direction: row;
	/* nice */
	max-height: 69px;
}
.profile-rank-text-sm{
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
}
.profile-rank-text-lg{
	margin-top: 2px;
	color: #18FFB1;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
}
.profile-country-rank-container{
	margin-left: 24px;
}
.profile-game-ranks-container{
	margin-left: auto;
	color: #FFFFFF
}
.profile-rank-graph-container{
	width: 658px;
	height: 147px;
	background: #2C3130;
	display:flex;
	width: 100%;
	padding: 18px;
}
.profile-stats-bottom-bit{
	background: #373E3C;
	border-radius: 0px 0px 8px 8px;
	padding: 18px;
	display:flex;
	width: 100%;
	flex-direction: row;
	max-height: 47px;
}
.profile-stats-bottom-bit-text {
	font-weight: 700;
	font-size: 15px;
	line-height: 15px;
	color: #FFFFFF;
}