/* todo: mobile support */

.profile-game-mods-segment {
	padding: 2em;
    height: 55px;
	background: #1B211F;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
    max-width: 1000px;
}
.profile-bg {
    background-image: linear-gradient(94.8deg, rgba(0, 0, 0, 0.2) 34.49%, rgba(0, 0, 0, 0) 93.17%), var(--bg);
    height: 229px;
    background-size: cover;
    background-position: center;
}
.profile-avatar {
	filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.05));
	border-radius: 21px;
	margin-top: -33px;
	margin-left: 27px;
	margin-right: 26px;
	/* should we change this? 256x256 images dont seem to scale very well to 140x140 */
	width: 140px;
	height: 140px;
}
.profile-user-segment {
	background: #2E3836;
	padding-inline: 25px;
	padding-bottom: 15px;
	display: flex;
	min-height: 122px;
}

.profile-main-info-container {
	display: flex;
	align-items: center;
	width: 100%;
}
.profile-main-details-container {
	display: flex;
	flex-direction: column;
}
.profile-username-container {
	display: flex;
	flex-direction: row;
}
.profile-username-text {
	font-weight: 700;
	font-size: 30px;
	line-height: 33px;
	text-align: center;
	color: white;
	align-self: center;
	/* for badges */
	margin-right: 10px;
}
.profile-country-container {
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: white;
	margin-right: 15px;
	inline-size: max-content;
}
.profile-clan-container {
	font-weight: 700;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: white;
	margin-right: 15px;
	inline-size: max-content;
}
.profile-country-flag {
	width: 37px;
	margin-right: 11px;
}
.profile-clan-flag {
	margin-right: 11px;
	font-size: 25px;
	color: white;
}
.profile-country-clan-container {
	display: flex;
	flex-direction: row;
}
.profile-badge {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: var(--color);
	margin-top: auto;
	margin-bottom: auto;
	background: #191D1B;
	border-radius: 12.5px;
	padding: 4px 11px;
	/* correcting for the text having a little blank space at the bottom so we arent off-center */
	padding-top: 6.5px;
	padding-bottom: 4.5px;
	/* margin for additional badges if we have any */
	margin-right: 3px;
	transition: all 0.1s ease;
}
.profile-badge:hover {
	box-shadow: 0px 0px 5px var(--color);
	z-index: 7;
}
.profile-donor-badge {
	color: white;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	background: #f6a;
	border-radius: 12.5px;
	padding: 5.5px;
	margin-right: 3px;
	height: 25px;
	width: 25px;
	/* even though the icon isn't off center, firefox incorrecly renders it as 
	   being slightly higher than normal on 100% zoom, setting the padding to 6px fixes this. */
	padding-top: 6px;
    transition: all 0.1s ease;
}
.profile-donor-badge:hover {
	box-shadow: 3px 7px 18px rgba(255, 102, 171, 0.371);
	text-shadow: 0px 0px 20px rgba(255, 102, 171, 1);
	z-index: 6;
}

.profile-verified-badge {
	/* same as page color */
	color: #2E3836;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	background: #18FFB1;
	border-radius: 12.5px;
	padding: 5.5px;
	margin-right: 3px;
	height: 25px;
	width: 25px;
	/* even though the icon isn't off center, firefox incorrecly renders it as 
	   being slightly higher than normal on 100% zoom, setting the padding to 6px fixes this. */
	padding-top: 6px;
    transition: all 0.1s ease;
}
.profile-verified-badge:hover {
	box-shadow: 3px 7px 18px #18ffb24a;
	text-shadow: 0px 0px 20px #18FFB1;
	z-index: 5;

}

.profile-pinned-medal-container {
	margin-left: auto;
	flex-direction: column;
	width: 100%;
	display: flex;
}
.profile-pinned-medal-text-container {
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: white;
	margin-left: auto;
	margin-bottom: 6px;
}
.profile-pinned-medal-icon {
	width: 28px;
	margin-left: 6px;
}
/* container for the icons */
.profile-pinned-medal-medal-container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-left: auto;
}
/* the actual icons */
.profile-pinned-medal-medal-icon {
	display: flex;
	width: 46px;
	height: 50px;
	background: var(--pinned-medal-icon);
	background-repeat: no-repeat;
	background-size: contain;
}
.profile-user-info-bar {
	background: #373E3C;
	display: flex;
	flex-direction: row;
	padding-inline: 4em;
	height: 55px;
	align-items: center;
	width: 100%;
}
.profile-user-info-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin-right: 6px;
	color: white;
}
.profile-user-info-text-bold {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-right: 26px;
	color: white;
}
.profile-user-info-playtime-container {
	display: flex;
	flex-direction: row;
	margin-left: auto
}
.profile-user-info-icon {
	font-size: 20px;
	color: white;
	margin-right: 10px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.profile-user-info-playtime-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	color: white;
}
.profile-game-mod-selector {
    margin-left: 26px;
    align-content: center;
    display: flex;
}

.profile-game-mode-selector-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-right: 25px;
    user-select: none;
    transition: all 0.1s ease;
}

.profile-game-mode-selector-item:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.676);
}

.profile-active.item.game-mode-selector-item{
    font-weight: 700;
    color: rgba(255,255,255,.93) !important;
}
.profile-user-info-bar-lower {
	background: #2C3130;
	display: flex;
	flex-direction: row;
	padding-inline: 4em;
	height: 55px;
	align-items: center;
	width: 100%;
}
.profile-user-info-social-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 28px;
	margin-right: 26px;
	color: white;
}
.profile-main-stats-container {
	background: #202524;
	display: flex;
	flex-direction: row;
	min-height: 304px;
	width: 100%;
	align-items: center;
	padding-inline: 48px;
}
.profile-stats-container {
	background: #2C3130;
	border-radius: 8px;
	display: flex;
	height: 263px;
	width: 261px;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 4px;
	padding: 18px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	/* padding so the space between the items looks less cursed,
	   change if you are adding new items. */
	padding-block: 32px;
}
.profile-stats-left-text {
	font-weight: 400;
	font-size: 15px;
	color: white;
}
.profile-stats-right-text {
	font-weight: 700;
	font-size: 15px;
	color: white;
	margin-left:auto;
}
.profile-stats-text-container{
	display: flex;
}
.profile-rank-stats-container {
	display: flex;
	width: 658px;
	margin-top: auto;
	margin-bottom: auto;
	margin-inline: 4px;
	flex-direction: column;
}
.profile-rank-info-container{
	background: #373E3C;
	border-radius: 8px 8px 0px 0px;
	padding: 18px;
	display:flex;
	width: 100%;
	flex-direction: row;
	/* nice */
	max-height: 69px;
}
.profile-rank-text-sm{
	color: #FFFFFF;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
}
.profile-rank-text-lg{
	margin-top: 2px;
	color: #18FFB1;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
}
.profile-country-rank-container{
	margin-left: 24px;
}
.profile-game-ranks-container{
	margin-left: auto;
	color: #FFFFFF
}
.profile-rank-graph-container{
	width: 658px;
	height: 147px;
	background: #2C3130;
	display:flex;
	width: 100%;
	padding: 18px;
}
.apexcharts-tooltip-title {
	text-align: center !important;
  }
.profile-stats-bottom-bit{
	background: #373E3C;
	border-radius: 0px 0px 8px 8px;
	padding: 18px;
	display:flex;
	width: 100%;
	flex-direction: row;
	max-height: 47px;
}
.profile-stats-bottom-bit-text {
	font-weight: 700;
	font-size: 15px;
	line-height: 15px;
	color: #FFFFFF;
}
.profile-level-info-bar {
	background: #2C3130;
	display: flex;
	padding-inline: 4em;
	min-height: 72px;
	align-items: center;
	width: 100%;
	flex-direction: row;
	gap: 10px;
}
.profile-level-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 48px;
	height: 48px;
	background-image: var(--level-icon);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: 700;
	color: white;
	margin-right:5px;
}

.profile-level-info-container {
	display: flex;
	padding: 10px;
	max-width: 252px;
}
.profile-level-progress-bar-container {
	width: 198px;
	display:flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
}
.profile-level-info-progress-bar{
	/* just a little extra margin to make it look a bit better */
	margin-bottom:4px;
}
.profile-level-info-text {
	color:white;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
}
.profile-level-info-text-container {
	display:flex;
	flex-direction: row;
}
.profile-big-panels-container {
	background: #2E3836;
	display:flex;
	flex-direction: column;
	gap: 12px;
	padding:11px;
	border-radius: 0px 0px 12px 12px;
}
.profile-big-panel-container {
	display:flex;
	flex-direction: column;
}
.profile-big-panel-topper {
	background: #2C3130;
	border-radius: 8px 8px 0px 0px;
	height: 46px;
	overflow: hidden;
	align-items: flex-start;
	display:flex;
}
.profile-big-panel-htext-container {
	border-radius: 0px 0px 5px 0px ;
	transform: skew(-35deg) translatex(-40px);
	background-color: #18FFB1;
	display: flex;
	flex-direction: column;
	padding: 12px 29px;

}
.profile-big-panel-htext {
	font-family: 'Comfortaa', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif ;
	font-size: 20px ;
	z-index: 900 ;
	transform: skew(35deg);
	font-weight: 700 ;
	line-height: 22px ;
	color: rgba(0, 0, 0, 0.8) ;
	margin-left: 38px ;
	margin-right: 1em;
}
.profile-big-panel-content{
	background:#202524;
	padding-inline: 41px;
	padding-block: 18px;
	border-radius: 0px 0px 8px 8px;
}
.profile-big-panel-text {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #18FFB1;
	margin-top:4px;
}
.profile-beatmaps-container{
	margin-top:3px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	scrollbar-width: none;
	overflow-x: visible;
}
.profile-load-more-button {
	display:flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 14px;
}