body {
	font-family: 'Comfortaa', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0, 0, 0, .87);
}

.content-container {
    padding: 20px;
}
.content-segment {
    border: 1px #2E3836;
    box-shadow: none;
    position: relative;
    background: #2E3836;
    color: white;
}

.text-segment {
    border: 1px #2E3836;
    box-shadow: none;
    position: relative;
    background: #1F2D28;
    padding: 28px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.light-black {
    background: #2B3431;
}

.background-image {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60vh;
    max-height: 625px;
    -webkit-mask-image: radial-gradient(100% 100% at 50% 0%, #D9D9D9 42.61%, rgba(217, 217, 217, 0) 100%);
    mask-image: radial-gradient(100% 100% at 50% 0%, #D9D9D9 42.61%, rgba(217, 217, 217, 0) 100%);
    background-image: var(--bg);
    filter: hue-rotate(var(--hue)) blur(var(--blur));
    background-position: center;
    background-size: cover;
}
.solid-button {
    position: relative;
    padding-inline: 31px;
    padding-block: 13px;
    background-color: #18FFB1;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	border: none;
	vertical-align: baseline;
	margin: 0 .25em 0 0;
	text-align: center;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
	user-select: none;
}
.warning-button {
    position: relative;
    padding-inline: 31px;
    padding-block: 13px;
    background-color: #EB4B5E;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	border: none;
	vertical-align: baseline;
	margin: 0 .25em 0 0;
	text-align: center;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
	user-select: none;
}
.hollow-button {
    background-color: transparent;
    border: 2px solid #18FFB1;
    position: relative;
    padding-inline: 31px;
    padding-block: 13px;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
	display: inline-block;
	vertical-align: baseline;
	margin: 0 .25em 0 0;
	text-align: center;
	box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
	user-select: none;
}
.textbox {
    position: relative;
    max-width: 100%;
    clear: both;
    margin: 0 0 1em;
    margin-bottom: 0;
}
.textbox .field > label {
	display: block;
	margin: 0 0 .28571429rem;
	color: rgba(255,255,255,.93);
	font-size: .92857143em;
	font-weight: 700;
	text-transform: none;
}
.textbox input:not([type]), .textbox input[type="text"], .textbox input[type="email"], .textbox input[type="search"], .textbox input[type="password"], .textbox input[type="date"], .textbox input[type="datetime-local"], .textbox input[type="tel"], .textbox input[type="time"], .textbox input[type="file"], .textbox input[type="url"], .textbox input[type="number"] {
	width: 100%;
	vertical-align: top;
	-webkit-appearance: none;
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 0 0 0 transparent inset;
	transition: color .1s ease,border-color .1s ease;
	padding: 12px 12px 12px 12px;
	background: #181D1C;
	border-radius: 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
.tiny-container {
	margin: 0 auto;
}
@media (max-width: 720px) {
	.tiny-container {
		width: auto;
	}
}
@media (min-width: 626px) {
	.tiny-container {
		width: 626px;
	}
}
.flex-filler{
    flex-grow: 1;
}
.round {
    border-radius: 8px;
}
.round-bottom {
    border-radius: 0px 0px 8px 8px;
}
.red-background {
    background: #EB4B5E;
}
.redder-background {
    background:  #FF3844;
}
.dark-red-background {
    background: #36191A;
}
.blue-background {
    background: #53A2FF;
}
.green-background {
    background: #18FFB1;
}
.dark-background {
    background: #272D2B;
}
.flexbox {
    display: flex;
}
.right-align {
    float: right;
}
.left-align {
    float: left;
}
.restricted-banner {
    font-weight: 700;
    font-size: 15px;
    color: white;
    display: flex;
}

.restricted-icon {
    padding: 8px;
    font-size: 28px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.restricted-banner-title {
    border-radius: 0px 11px 11px 0px;
    display:flex;
    color: white;
    padding: 14px;
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .restricted-banner-title{
        border-radius: 0px 0px 11px 11px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .restricted-banner{
        flex-direction: column;
    }
}

.restricted-banner-text{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #242928;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
    border-top: 0px;
    padding: 30px 0px;
}
.footer-container {
    display: flex;
}
.footer-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-items{ 
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .footer-row{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
	.footer-items{
		flex-direction: column;
		display: flex;
	}
}
@media screen and (min-width: 768px) {
    .footer-row {
        flex-direction: row;
    }
	.footer-items{
		display: flex;
	}
}

.footer-main-text{
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: white;
    margin-left: 17px;
}

.footer-title {
    color: #18FFB1;
    font-size: 21px;
    font-weight: 900;
    text-align: right;
    margin-bottom: 4px; 
}
.footer-link {
    text-align: right;
}
.footer-link a {
    color: white;
    font-size: 16px;
    font-weight: 800;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer-logo img {
    height: 100px;
}

.footer-info-block {
    float: left;
    font-size: 14px;
    margin-left:37px;
}

/* replacement for semantic ui's .ui.container */
.page-container {
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.main-container {
	padding: 0.5em 2em;
	background: #2E3836;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
    box-sizing: border-box;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.main-container-topper {
    padding: 2em;
	height: 55px;
	background: #1F2D28;
	border-radius: 12px 12px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
    max-width: 1000px;
}
.page-width {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-width{
        width: 993px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-width{
        width: 723px;
    }

}
@media only screen and (max-width: 767px){
    .page-width{
        width: auto;
        margin-left: 1em;
        margin-right: 1em; 
    }
}
/* begin navbar */
@media screen and (min-width: 768px) {
	.navbar-user-dropdown {
		width: 76px !important;
		height: 71px !important;
		background: #3D4C47 !important;
		border-radius: 0px 0px 8px 8px !important;
	}
}

@media only screen and (min-width: 768px){
    .navbar.container {
        display:flex;
        flex-direction:inherit;
        width: 100%;
        display: flex;
        background: #293430;
        height: 64px;
        z-index: 90;
    }
}
@media only screen and (max-width: 767px){
    .navbar.container {
        display:flex;
        flex-direction:inherit;
        width: 100%;
        display: flex;
        background: #293430;
        height: auto;
        z-index: 90;
    }
}
/* TODO: do we need this */
/* quick dirty partially-working menu fixes for mobile */
@media (max-width: 911px) {
	#navbar .item {
		margin: 0 !important;
	}
	#navbar {
		margin-left: 0;
		margin-right: 0;
	}
}

/* end navbar */

.game-mode-selector {
    margin-left: auto;
    margin-right: 26px;
    align-content: center;
    display: flex;
}

.game-mod-selector {
    margin-left: 26px;
    align-content: center;
    display: flex;
}

.game-mode-selector-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-left: 25px;
    user-select: none;
}

.active.item.game-mode-selector-item{
    font-weight: 700;
    color: rgba(255,255,255,.93) !important;
}

*, ::after, ::before {
    /* this is for semantic ui compatibility */
	box-sizing: inherit;
}


