{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<!--<img src="/static/logos/logo-1.png">-->
			<h1 class="ui no bottom margin header">
				{{ .T "Welcome to osuHOW!" }}
			</h1>
			<div class="about subtitle">{{ .T "osuHOW is an osu! server." }}<br>
			{{ .T "It is just like any other osu! server but this one works with old builds" }}</div>
		</div>
		<div class="ui segment">
			<img src="/static/about/old.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "We (almost) fully support (almost) every build from late 2013 to now!" }}
			</h1>
			<img src="/static/about/screenshot010.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "We have leaderboards." }}
			</h1>
			<img src="/static/about/screenshot011.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "(very) experimental osu!2007 support" }}
			</h1>
			<img src="/static/about/2007.PNG">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Spectator." }}
			</h1>
			<img src="/static/about/screenshot005.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "And a lot more!" }}
			</h1>
			<p class="about title">
				{{ .T "osuHOW was started because ripple banned a bunch of osu!archive staff for playing on old builds and there was no server that supported them." }}
			</p>
			<p class="about subtitle">
				{{ .T "In case you want to make sure we're not doing shady stuff with your data, you can also check the <a href=\"https://github.com/osuHOW\">source code</a> osuHOW is running!" | html }}
			</p>
		</div>
	</div>
</div>
{{ end }}
