{{/*###
Handler=/about
TitleBar=About
KyutGrill=homepage.png
*/}}
{{ define "tpl" }}
<link rel="stylesheet" href="/static/css/pages/about.css" />
<div class="content-container">
	<div class="about-container">
		<div class="aboutbox background-osuhow">
			<div class="aboutbox-htext-container">
				<h1 class="aboutbox-htext">
					{{ .T "main big panel!" }}
				</h1>
			</div>
			<div>
				<h2 class="aboutbox-text">
					{{ .T "Down, down, down. Would the fall NEVER come to an end! ‘I wonder how many miles I’ve fallen by this time?’ she said aloud. ‘I must be getting somewhere near the centre of the earth. Let me see: that would be four thousand miles down, I think--’ (for, you see, Alice had learnt several things of this sort in her lessons in the schoolroom, and though this was not a VERY good opportunity for showing off her knowledge, as there was no one to listen to her, still it was good practice to say it over) ‘--yes, that’s about the right distance--but then I wonder what Latitude or Longitude I’ve got to?’ (Alice had no idea what Latitude was, or Longitude either, but thought they were nice grand words to say.)" }}
				</h2>
			</div>
		</div>
		<div class="sm-about-container">
			<div class="aboutbox aboutbox-sm background-old">
				<div class="aboutbox-htext-container-sm">
					<h1 class="aboutbox-htext-sm">
						{{ .T "alt smaller panel :3" }}
					</h1>
				</div>
				<div>
					<h2 class="aboutbox-text-sm">
						{{ .T "The March Hare took the watch and looked at it gloomily: then he dipped it into his cup of tea, and looked at it again: but he could think of nothing better to say than his first remark, ‘It was the BEST butter, you know.’" }}
					</h2>
				</div>
			</div>
			<div class="aboutbox aboutbox-sm background-fcu">
				<div class="aboutbox-htext-container-sm">
					<h1 class="aboutbox-htext-sm">
						{{ .T "another small panel" }}
					</h1>
				</div>
				<div>
					<h2 class="aboutbox-text-sm">
						{{ .T "The March Hare took the watch and looked at it gloomily: then he dipped it into his cup of tea, and looked at it again: but he could think of nothing better to say than his first remark, ‘It was the BEST butter, you know.’" }}
					</h2>
				</div>
			</div>
		</div>
		<div class="aboutbox background-osuhow">
			<div class="aboutbox-htext-container">
				<h1 class="aboutbox-htext">
					{{ .T "another big panel" }}
				</h1>
			</div>
			<div>
				<h2 class="aboutbox-text">
					{{ .T "Just as she said this, she noticed that one of the trees had a door leading right into it. ‘That’s very curious!’ she thought. ‘But everything’s curious today. I think I may as well go in at once.’ And in she went. She stretched herself up on tiptoe, and peeped over the edge of the mushroom, and her eyes immediately met those of a large caterpillar, that was sitting on the top with its arms folded, quietly smoking a long hookah, and taking not the smallest notice of her or of anything else." }}
				</h2>
			</div>
		</div>
	</div>
</div>
{{ end }}
