{{/*###
Handler=/disabled
KyutGrill=okurfuckednow.png
*/}}
{{ define "tpl" }}
<div class="ui center aligned container">

	<div class="ui stackable center aligned grid">
		<div class="ui segment">

<div class="restricted" style="
background: repeating-linear-gradient( -45deg, #FF3D3D, #FF3D3D 10px, #FF0000 10px, #FF0000 20px);
text-align: center;
color: white;
padding: 15px;
margin: 0px 0;
">
    <h1 style='color:white'>Your account has been <strong>disabled</strong>!</h1>
</div>

	<div>Potential reasons your account could be disabled:</div>
	<ul>
		<li>You have broken one or more of our rules or Terms of Service.</li>
		<li>We believe your account is compromised. It could be disabled temporarily while we confirm its identity.</li>
	</ul>
	<div>If you broke any rules, there is a period of one month during which we will not consider any appeals or requests. When this period is over, you may contact us if need be.</div>
	<div>Creating accounts after one has been disabled will result in an <strong>one month extension of this one month period for every account you make</strong>.</div>
	<div>Furthermore, <strong>by creating new accounts you are further breaking the rules.</strong></div>
	<div>If you wish to appeal, please join the discord or contact an admin.</a>
	</div>

</div>

	</div>

</div>

{{ end }}
