{{/*###
Handler=/login
TitleBar=Log in
DisableMainContainer=True
KyutGrillHue=212deg
*/}}
{{ define "tpl" }}
<link rel="stylesheet" href="/static/css/pages/generic-form.css" />
<div>
	<div class="tiny-container">
		<div class="form-topper blue-background tiny-container form-padding">
			<div class="icon-container">
				<i class="fa-solid fa-key"></i>
			</div>
			<div class="topper-text">
				{{ .T "Log in" }}
			</div>
		</div>
	{{/* Not logged in block */}}
	{{ if .Context.User.Username }}
		<div class="text-segment form-padding">
			{{ .T "You're already logged in!" }}
		</div>
		<div class="content-segment round-bottom dark-background flexbox form-padding">
			<button tabindex="2" class="solid-button left-align form-buttons" onclick="history.back()">{{ .T "go back" }}</button>
		</div>
	{{ else }}
	<div class="tiny-container">
		<div class="content-segment form-padding">
					<form id="login-form" class="textbox form-textbox" method="post" action="/login">
						<div class="field">
							<div class="form-label-text">{{ .T "Username" }}</div>
							<input tabindex="1" type="text" name="username" placeholder="{{ .T "Username" }}" value="{{ .FormData.username }}" required>
						</div>
						<div class="field">
							<div class="form-label-text">{{ .T "Password" }} <a href="/pwreset">{{ .T "(forgot?)" }}</a></div>
							<input tabindex="2" type="password" name="password" placeholder="{{ .T "Password" }}" value="{{ .FormData.password }}" required>
						</div>
						<input type="hidden" name="redir" value="{{ or (.Gin.Query "redir") .FormData.redir }}">
						{{ ieForm .Gin }}
					</form>
				</div>
				<div class="content-segment round-bottom dark-background flexbox form-padding">
					<button tabindex="3" class="hollow-button form-buttons" onclick="history.back()">{{ .T "go back" }}</button>
					<div class="form-filler"></div>
					<button tabindex="3" class="solid-button form-buttons" type="submit" form="login-form">{{ .T "submit" }}</button>
				</div>
			</div>
		</div>
	</div>
	{{ end }}
</div>
</div>
{{ end }}
