{{/*###
	Handler=/u
	TitleBar=User Profile
	DisableMainContainer=True
*/}}

{{/* TODO: make this work on mobile (will wait for hubz to make a mobile site design) */}}
{{/* TODO: show a banner if the user is silenced */}}
{{ define "tpl" }}
{{/* get some data we need */}}
{{ $global := . }}
{{ $gqm := atoi (.Gin.Query "mode") }}
{{ $grx := atoi (.Gin.Query "rx") }}
{{ with (.Get "users/full?id=%d" .UserID) }}
{{ $favouritemode := _or $gqm .favourite_mode }}
{{ $preferRelax := _or $grx 0 }}
{{ $user := . }}

{{ $donor := has .privileges 4 }}

<link rel="stylesheet" href="/static/css/pages/profile.css" />
{{/* used by profile.js to generate graphs */}}
<script src="/static/d3.v3.min.js"></script>
<script src="/static/nv.d3.js"></script>
<div class="page-width">
			<script>
				window.favouriteMode = {{ $favouritemode }};
				window.preferRelax = {{ $preferRelax }};
				window.userID = {{ .id }};
			</script>
	<div class="main-container-topper">
		{{/* TODO: Icons */}}
		<div style="/*! margin: 2em; */margin-left: 2em;align-content: center;display: flex;">
			<span style="text-color: rgba(255,255,255,.93);color: rgba(255,255,255,.93);font-size: 1rem;">{{ .username }}'s Profile</span>
		</div>
		<div class="game-mode-selector" id="mode-menu">
			{{ range $modeInt, $modeString := modes }}
				<span class="{{ favMode $favouritemode $modeInt }}item game-mode-selector-item" data-mode="{{ $modeInt }}" href="/u/{{ $user.id }}?mode={{ $modeInt }}">{{ $modeString }}</span>
			{{ end }}
		</div>
	</div>
	<div class="profile-game-mods-segment">
		<div class="profile-game-mod-selector" id="rx-menu">
			<span class="0 item{{ if eq (int $preferRelax) 0 }} active{{ end }} profile-game-mode-selector-item" data-rx="0" href="/u/{{ $user.id }}?rx=0">Regular</span>
			<span class="1 item{{ if eq (int $preferRelax) 1 }} active{{ end }} profile-game-mode-selector-item" data-rx="1" href="/u/{{ $user.id }}?rx=1">Relax</span>
			<span class="2 item{{ if eq (int $preferRelax) 2 }} active{{ end }} profile-game-mode-selector-item" data-rx="2" href="/u/{{ $user.id }}?rx=2">Autopilot</span>
		</div>
	</div>
	<div class="profile-bg" style="--bg: var(--profile-bg)"></div>
	<div class="profile-user-segment">
		<img class="profile-avatar" src="{{ config "AvatarURL" }}/{{ .id }}">
		<div class="profile-main-info-container">
			<div class="profile-main-details-container">
				<div class="profile-username-container">
					<div class="profile-username-text">
						{{ .username }}
					</div>
					{{ if .verified_player }}
						<span class="fa-solid fa-check profile-verified-badge"></span>
					{{ end }}
					{{ if $donor }}
						<span class="fas fa-heart profile-donor-badge"></span>
					{{ end }}
					{{ range .badges }}
						{{/* just repurpose the icon for now */}}
						<div class="profile-badge" style="--color: {{ .icon }}">{{ .name }}</div>
					{{ end }}
				</div>
				<div class="profile-country-clan-container">
					<div class="profile-country-container">
						<img
						src="https://twemoji.maxcdn.com/v/latest/svg/{{ countryCodepoints .country }}.svg"
						class="profile-country-flag" />
						{{ countryReadable1 .country }}
					</div>

					{{/* get clan info */}}
					{{ $clan := . }}

					{{ if eq $clan.clan.name "" }}
						{{/* just don't show anything if we arent in a clan */}}
					{{ else }}
						<div class="profile-clan-container">
							<i class="fa-solid fa-users profile-clan-flag"></i>
							{{/* show our clan name */}}
							{{ $clan.clan.name }}
						</div>
					{{ end }}
				</div>
			</div>
			{{/* creation of pinned medals stuff is handled by profile.js */}}
			<div id="pinned-medals-container" class="profile-pinned-medal-container"></div>
		</div>
	</div>
	<div class="profile-user-info-bar">
		<div class="profile-user-info-text">joined</div>
		<div class="profile-user-info-text-bold">{{ (time $user.registered_on) }}</div>
		<div class="profile-user-info-text">last seen</div>
		<div class="profile-user-info-text-bold">{{ (time $user.latest_activity) }}</div>
		{{ with playstyle .play_style $global }}
		<div class="profile-user-info-text">plays with</div>
		<div class="profile-user-info-text-bold">{{ . }}</div>
		{{ end }}
		<div class="profile-user-info-playtime-container">
			<i class="fa-solid fa-play profile-user-info-icon"></i>
			{{ range $rx, $_ := .stats }}
				{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
					<div class="profile-user-info-playtime-text" data-rx="{{ $rx }}" data-mode="{{ $k }}" {{ if or (ne $rx (int $preferRelax)) (ne $k (int $favouritemode)) }} hidden{{ end }}>{{ playtimeConv .playtime }}</div>
				{{ end }}
			{{ end }}
		</div>
	</div>
	<div class="profile-user-info-bar-lower">
		<i class="fa-brands fa-discord profile-user-info-icon"></i>
		<div class="profile-user-info-social-text">TODO</div>
		<i class="fa-brands fa-twitter profile-user-info-icon"></i>
		<div class="profile-user-info-social-text">TODO</div>
		<div class="profile-user-info-playtime-container">
			<i class="fa-solid fa-location-dot profile-user-info-icon"></i>
			<div class="profile-user-info-playtime-text">TODO</div>
		</div>
	</div>

	<div class="profile-main-stats-container">
		{{ range $rx, $_ := .stats }}
			{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
				{{/* we are praying it will be the same size as the other box */}}
				{{/* TODO: if there's a better way to do this, do it */}}
				<div class="profile-rank-stats-container" data-rx="{{ $rx }}" data-mode="{{ $k }}" {{ if or (ne $rx (int $preferRelax)) (ne $k (int $favouritemode)) }} hidden{{ end }}>
					<div class="profile-rank-info-container">
						<div>
							<div class="profile-rank-text-sm">global rank</div>
							<div class="profile-rank-text-lg">{{ with and $v $v.global_leaderboard_rank }}#{{ . }}{{ else }}-{{ end }}</div>
						</div>
						<div class="profile-country-rank-container">
							<div class="profile-rank-text-sm">country rank</div>
							<div class="profile-rank-text-lg">{{ with and $v $v.country_leaderboard_rank }}#{{ . }}{{ else }}-{{ end }}</div>
						</div>
						<div class="profile-game-ranks-container">
							TODO: Game ranks
						</div>
					</div>
					<div class="profile-rank-graph-container" id="graph1" data-tab="pp-chart">
						{{/* TODO: finish graphs */}}
						{{/* 
						{{ range _range 4 }}
						<div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0">
							<svg style="height: 250px; width: 100%">
							</svg>
						</div>
						{{ end }}
						*/}}
					</div>
					<div class="profile-stats-bottom-bit">
						<div class="profile-stats-bottom-bit-text">
							{{ humanize .pp }} pp
						</div>
					</div>
				</div>
				<div class="profile-stats-container" data-rx="{{ $rx }}" data-mode="{{ $k }}" {{ if or (ne $rx (int $preferRelax)) (ne $k (int $favouritemode)) }} hidden{{ end }}>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">ranked score</div>
						<div class="profile-stats-right-text">{{ humanize .ranked_score }}</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">total score</div>
						<div class="profile-stats-right-text">{{ humanize .total_score }}</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">playcount</div>
						<div class="profile-stats-right-text">{{ humanize .playcount }}</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">max combo</div>
						<div class="profile-stats-right-text">TODO</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">replays watched</div>
						<div class="profile-stats-right-text">{{ humanize .replays_watched }}</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">total hits</div>
						<div class="profile-stats-right-text">{{ humanize .total_hits }}</div>
					</div>
					<div class="profile-stats-text-container">
						<div class="profile-stats-left-text">accuracy</div>
						<div class="profile-stats-right-text">{{ printf "%.2f" .accuracy }}%</div>
					</div>
				</div>
			{{ end }}
		{{ end }}
	</div>
	<div class="profile-level-info-bar">
		{{/* level */}}
		{{ range $rx, $_ := .stats }}
			{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
				<div class="profile-level-info-container" style="--level-icon: url(/static/icons/level.png);" {{ if or (ne $rx (int $preferRelax)) (ne $k (int $favouritemode)) }} hidden{{ end }}>
					<div class="profile-level-icon-container">
						{{ level .level }}
					</div>
					<div class="profile-level-progress-bar-container">
						<div class="profile-level-info-text-container">
							<div class="profile-level-info-text">Level</div>
							<div class="profile-level-info-text" style="margin-left:auto;">{{ levelPercent .level }}%</div>
						</div>
						<div class="progress-bar profile-level-info-progress-bar" >
							<div class="progress-bar-inner" style="width: {{ levelPercent .level }}%; --progress-bar-color: #FFDC60"></div>
						</div>
					</div>
				</div>
			{{ end }}
		{{ end }}
		{{/* medal count */}}
		<div class="profile-level-info-container" style="--level-icon: url(/static/icons/medal.png);">
			<div class="profile-level-icon-container">
				888
			</div>
			<div class="profile-level-progress-bar-container">
				<div class="profile-level-info-text-container">
					<div class="profile-level-info-text">Medals</div>
					<div class="profile-level-info-text" style="margin-left:auto;">TODO</div>
				</div>
				<div class="progress-bar profile-level-info-progress-bar" >
					<div class="progress-bar-inner" style="width: 50%; --progress-bar-color: #FF66AA"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-big-panels-container">
		<div class="profile-big-panel-container">
			<div class="profile-big-panel-topper">
				<div class="profile-big-panel-htext-container">
					<div class="profile-big-panel-htext">
						historical
					</div>
				</div>
			</div>
			<div class="profile-big-panel-content">
				<div class="profile-big-panel-text">
					most played beatmaps
				</div>
				<div class="profile-most-played-container" data-type="most-played">
				{{/* TODO: redo this in js and make it have a load more button instead of scrolling */}}
					{{ with $global.Get "users/most_played?id=%.0f" .id }}
						{{ if .beatmaps }}
							{{ range .beatmaps }}
								<div class="beatmap-info-panel-slim-main-container" style="--beatmap-background: url('https://assets.ppy.sh/beatmaps/{{ .beatmapset_id }}/covers/cover.jpg');">
									<div class="beatmap-info-panel-slim-glass-container">
										<div class="beatmap-info-panel-slim-playtime-container">
											<i class="fa-solid fa-play beatmap-info-panel-slim-playtime-icon"></i>
											<div class="beatmap-info-panel-slim-playtime-text">{{ .playcount }}</div>
										</div>
										<div class="beatmap-info-panel-slim-info-background">
											<div class="beatmap-info-panel-slim-info-container">
												<div class="beatmap-info-panel-slim-text-container">
													<div class="beatmap-info-panel-slim-text-lg">
														{{ .artist }} - <b>{{ .title }}</b>
													</div>
													<div class="beatmap-info-panel-slim-text-sm">
															mapped by <b>{{ .creator }}</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{{ end }}
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
		<div class="profile-big-panel-container">
			<div class="profile-big-panel-topper">
				<div class="profile-big-panel-htext-container">
					<div class="profile-big-panel-htext">
						beatmaps
					</div>
				</div>
			</div>
				<div class="profile-big-panel-content">
					{{ with $global.Get "users/favourites?id=%.0f" .id }}
						{{ if .beatmaps }}
						<div class="profile-big-panel-text">
							favourites
						</div>
						<div class="profile-most-played-container" data-type="most-played">
						{{/* TODO: redo this in js and make it have a load more button instead of scrolling */}}
							{{ range .beatmaps }}
								<div class="beatmap-info-panel-slim-main-container" style="--beatmap-background: url('https://assets.ppy.sh/beatmaps/{{ .beatmapset_id }}/covers/cover.jpg');">
									<div class="beatmap-info-panel-slim-glass-container">
										<div class="beatmap-info-panel-slim-info-background">
											<div class="beatmap-info-panel-slim-info-container">
												<div class="beatmap-info-panel-slim-text-container">
													<div class="beatmap-info-panel-slim-text-lg">
														{{ .artist }} - <b>{{ .title }}</b>
													</div>
													<div class="beatmap-info-panel-slim-text-sm">
															mapped by <b>{{ .creator }}</b>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{{ end }}
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
{{ end }}