{{/*###
Handler=/pwreset
TitleBar=Reset password
DisableMainContainer=True
KyutGrillHue=0deg
*/}}
{{ define "tpl" }}
<link rel="stylesheet" href="/static/css/pages/generic-form.css" />
<div class="ui container">
	{{ if .Context.User.ID }}
		<div class="ui segment">
			{{ .T "You're already logged in!" }}
		</div>
	{{ else }}
		<!-- TODO: captcha -->
		<div class="tiny container">
			<div class="form-topper red-background tiny-container">
				<div class="icon-container">
					<i class="fa-solid fa-key"></i>
				</div>
			</div>
			<div>
				<div class="text-segment no-margin">
					{{ .T "Forgot your password? Worry not! Here you can reset it. Just tell us your username or email address, and we'll take care of it. You will receive an email at the email address you used to sign up. To continue the password reset procedure, click the link on that email. " }}
				</div>
				<div class="content-segment no-margin">
					<form id="pw-reset-form" class="textbox form-textbox" method="post" action="/pwreset">
						{{ ieForm .Gin }}
						<div class="field">
							<label>{{ .T "Username (or email)" }}</label>
							<input tabindex="1" type="text" name="username" placeholder="{{ .T "put it here :3" }}" value="{{ .FormData.username }}" required>
						</div>
					</form>
				</div>
				<div class="content-segment no-margin round-bottom dark-background button-container">
					<button tabindex="2" class="solid-button left-align form-buttons" onclick="history.back()">{{ .T "go back" }}</button>
					<div class="filler"></div>
					<button tabindex="2" class="warning-button right-align form-buttons" type="submit" form="pw-reset-form">{{ .T "send reset request" }}</button>
				</div>
			</div>
		</div>
	{{ end }}
</div>
{{ end }}